
body{
    background-color: rgb(13, 1,1);
}

h1{
    color: blue;
    font-size: 72px;
    text-decoration: none;
}


ul{
    width:100%;
    background-color:orange ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}
nav h2{
    color: aquamarine;
    
}
nav ul{
    display:flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color: aquamarine;
    font-size: 15px;
    text-decoration: none;
}